Framework/**
#to include folders of a ignored file
!Framework/**/

# Allow top-level scripts & marker
!Framework/cleanFramework.bat
!Framework/createSolutions.bat

# Allow project dirs
!Framework/Resources/**
# Except the heavy folder
Framework/Resources/Heavy/**

# Allow content inside those dirs
!Framework/**/*.h
!Framework/**/*.hpp
!Framework/**/*.cpp
!Framework/**/CMakeLists.txt


